.container {
    width: 466px;
    height: 466px;
}
.page {
    width: 466px;
    height: 466px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.monthyear {
    top: 30px;
    width: 466px;
    height: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.year {
    width: 120px;
    height: 40px;
    text-align: left;
}
.month {
    width: 70px;
    height: 40px;
    margin-right: 8px;
    text-align: right;
}
.title {
    text-align: center;
}
.daysRow {
    justify-content: center;
    width: 466px;
    height: 50px;
}
.days {
    width: 55px;
    height: 50px;
    border-width: 1px;
    border-color: #414343;
    background-color: #2D74B4;
}
.days-text {
    text-align: center;
    font-size: 24px; /* DevEco Studio test size */
/*    font-size: 28px; !* production size *!*/
    margin-top: 6px;
    width: 55px;
    height: 50px;
    color: #e0e0e0;
}
.weekRow {
    justify-content: center;
    width: 466px;
    height: 40px;
}
.datestext {
/*    display: flex;*/
    font-size: 24px; /* DevEco Studio test size */
/*    font-size: 28px; !* production size *!*/
    top: 2px;
    text-align: center;
    width: 55px;
    height: 40px;
    border-width: 1px;
    border-color: #414343;
    color: #1D64a4;
    background-color: #c6c6c6;
}